{{yield}}
<div class="post">
    <div class="row flex-nowrap">
		<div class="col-lg-1">
			<img src="{{user.icon}}" class="usericon">
			<br>
			{{user.id}}
		</div>

	

		<div class="col-lg-11">
			<pre>
			<div class="content">{{ model.content }}</div>
			</pre>
		</div>			
    </div>
</div>