<div class="threadOverview">
    <span class="threadTitle">
        <LinkTo @route="post" @model={{model}}>
        {{model.id}}
        </LinkTo>
        - {{model.owner}}
    </span>
    <span class="postCount">
        {{model.posts}}
    </span>
</div>