.threadOverview {
    border-radius: 15px;
	border: 2px solid lightgray;
    padding: 10px;
	margin: 0px 20px 0px 20px;
    background-color: cornsilk;
	font-family: sans-serif;
}

@font-face {
	font-family: 'Odin';
	src: url('/fonts/OdinRounded-Yd82.ttf');
	format('truetype');
}

body {
	font-family: 'Odin', sans-serif;
	margin: 30px;
	background-image: url("/images/notes.jpg");
}

a:hover {
	text-decoration: none;
	color: black;
}
.postCount {
    text-align: right;
    float: right;
}

.sidebar {
	border: 4px solid black;
    background-color: white;
    width: 225px;
    height: 90vh;
    position: fixed;
    border-radius: 15px;
    color: black;
    font-size: 24pt;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 10px;
}

.links {
    height: 300px;
}

.logo {
    width: 150px;
    height: 150px;
}
.page {
    background-color: white;
	border: 4px solid black;
    border-radius: 15px;
    float: right;
    position: relative;
    width: calc(100% - 265px);
    height: 90vh;
    overflow-y: auto;
	padding: 10px;
}

.post {
    background-color: white;
    border-radius: 15px;
	border: 4px solid black;
    float: right;
    position: relative;
    width: calc(100% - 265px);
    overflow-y: auto;
    text-align: center;
	font-family: sans-serif;
}

.add {
    right: 70vw;
    position: absolute;
}

.user {
    position: relative;
    float: left;
    width: 150px;
    padding-left:10px;
}

.usericon {
    width: 70px;
    height: 70px
}

.content{
    position: relative;
    float: right;
    padding-right:10px;
}

.title {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 26pt;
}
.sign-up {
    text-align: center;
}
form {
    text-align: center;
    display: inline-block;
	font-family: sans-serif;
}

#mytextarea, input[type=text], [type=email], [type=password] {
	border: 2px solid gray;
}

table {
    border-collapse: separate;
    border-spacing: 15px 50px;
}
.create-button {
	position: absolute;
	left: 75px;
	bottom: 25px;
	display: inline-block;
    border-radius: 30px;    
    background-color: #007bff;
	width: 60px;
	height: 60px;
	padding: 5px 5px;
	font-size: 60px;
}
.create-button-text {
	color: white;
	position: relative;
	left: 9px;
	top: -18px;
}
a.create-button-text {
	text-decoration: none;
}
a:hover.create-button-text {
	color: white;
}
span:hover.create-button {
	background-color: black;
}
