<div class="sidebar">
    <img src="/images/guitar.png" class="logo">
    <!--<img src="http://charliekatt.com/wp-content/uploads/2019/10/guitar.png" class="logo">-->
	<br><br>
    <div class="links">
        <a href="/">&#9632; Home</a>
		<br>
        <a href="/login">&#9632; Login</a>
        <br>
        <a href="/sign-up">&#9632; Register</a>

		<span class="create-button"><a href="/create" class="create-button-text" title="Create Post">+</a></span>
    </div>
</div>
{{outlet}}