<div class="sidebar">
	<img src="https://pellissippimusicforum.herokuapp.com/images/musicforumlogos-48dd25a027877e4e4a1f284cb140e214.png" style="margin: 10px;"><br>
	<br>
    <div class="links">
        <a href="/">&#9632; Home</a>
		<br>
        <a href="/login">&#9632; Login</a>
        <br>
        <a href="/sign-up">&#9632; Register</a>
        <br>
        <br>


		<span class="create-button"><a href="/create" class="create-button-text" title="Create Post">+</a></span>
    </div>
</div>
{{outlet}}
