<div class="page">
    <p class="title">
        <b>
            Thread List 
        </b>
    </p>
    {{#each this.model as |thread|}}
        <br>
    <ThreadOverview @model={{thread}}/>
    {{/each}}
</div>