<div class="page">
  <p class="title">

    Add a Post 
    <a href="/create/" class="">
      <img alt="Create a Post" src="/images/addIcon.gif" onmouseover="src='/images/addIconblack.gif'" onmouseout="src='/images/addIcon.gif'">
    </a>
  </p>

  {{outlet}}
  {{#each this.model as |post|}}
    <SpecificPost @model={{post}}/>
  {{/each}}
</div>
			