<div class="page">
  <p class="title">
    <LinkTo @route ="create" @query={{hash thread=this.model.threadId}}>
    Add a Post 
      <img alt="Create a Post" src="/images/addIcon.gif" onmouseover="src='/images/addIconblack.gif'" onmouseout="src='/images/addIcon.gif'">
      </LinkTo>
  </p>

  {{outlet}}
  {{#each this.model as |post|}}
    <SpecificPost @model={{post}}/>
  {{/each}}
</div>
			