<div class="page">
    <p class="title">
        <b>
            New User Registration
        </b>
    </p>
    <div class="sign-up">
        <br>
        <br>
        <form>
            <table>
                <tr>
                    <td>
                        <input type="text" name="userName" value="User Name">
                    </td>
                    <td>
                        <input type="text" name="firstName" value="First Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="email" value="Email">
                    </td>
                    <td>
                        <input type="text" name="lastName" value="Last Name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" value="Password">
                    </td>
                </tr>
            </table>
            <textarea name="bio">Bio</textarea>
            <br>
            <input type="submit">
        </form>
    </div>
</div>