<div class="page">
    <p class="title">
        <b>
            New User Registration
        </b>
    </p>
    <div class="sign-up">
        <BsForm @formLayout="vertical" as |form|>
            <form.element @controlType="text" @label="First Name" @placeholder="First Name" @property="firstName" />
            <form.element @controlType="text" @label="Last Name" @placeholder="Last Name" @property="lastName" />
            <form.element @controlType="email" @label="Email address "@placeholder="Email" @property="Email" />
            <form.element @controlType="password" @label="Password" @placeholder ="Password" @property="password" />
            <form.element @controlType="text" @label="Icon" @placeholder ="Provide a url to an image" @property="icon" />
<form.element @controlType="textarea" @label="Bio" @placeholder="Type in me!"  @property="Bio" as |el|>
  <el.control
    cols="50"
    rows="10"
  />
</form.element>
            <BsButton @defaultText="Submit" @type="primary" @buttonType="submit" />
        </BsForm>
    </div>
</div>